body{
    margin: 0%;
}
div{
    font-family: Tahoma;
    background-color: #f5f5f5;
    padding: 50px;
    border-bottom: #d5d5d5 solid;
    text-align: center;
}
img{
    width: 190px;
}

h2{
    font-size: 24px;
}

p{

    line-height: 28px;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}

a{
    background-color: rgb(16, 199, 16);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    padding: 10px;
    border-radius: 20px;


}

span{
    font-weight: bold;
}